services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-app
    ports:
      - '8000:3000'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/nest_db?schema=public
      - PORT=3000
    depends_on:
      - db
    networks:
      - nest-network
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    container_name: nest-db
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=nest_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nest-network
    restart: unless-stopped

networks:
  nest-network:
    driver: bridge

volumes:
  postgres_data:
